{{define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Daulet Baimurza and sons Azamat, Askar, Arstan.">
    <title>{{.title}} - Oilan</title>
    <!-- Oilan favicons -->
    <link href="/static/brand/favicon.svg" rel="icon">
    <link href="/static/brand/favicon.svg" rel="apple-touch-icon">
    <!-- Bootstrap icons & cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
{{end}}