{{define "header"}}
<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 p-2">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 fs-6" href="/admin/dashboard">
        <img src="/static/brand/light_logo.svg" alt="Logo" width="24" class="me-1">Admin Panel
    </a>
    <button class="navbar-toggler ms-auto d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
        </div>
    </div>
</header>
{{end}}